#root{
	text-align: center;
	color:#303030;
}

/*
Título maior
*/
h1{
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	font-weight: bold;
	font-size: 7em;
	margin-top: 0.5em;
    
}

/*
Subtítulo
*/
h2{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 4em; 
	
}

/*
As labels de cada tópico
*/
h3{
	text-align: right;	
	font-family: 'Shadows Into Light', cursive;
	font-size: 4em;
}

/*
Labels menores
*/
h4{

}

img {
    margin: auto;
}

.center{	
	padding: 0 70px;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#green{
	color:green;
}

#javaLogo{
	color:red;
}

.container{
	margin-bottom: 2em;
}


body{
  background: url('coqueiros.jpg') center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#push{
	margin-top: 1em;
	text-align: left;
	font-family: 'Thasadith', sans-serif;
	font-style: oblique;
	
	font-size: 1.5em;
}

#pull{
	margin-top: 1em;
	text-align: left;
	font-family: 'Thasadith', sans-serif;
	font-style: oblique;
	
	font-size: 1.5em;
}